{{!-- {{post as |post|}} --}}
<section class = 'card'>
    <header><a href='/post/{{id}}'>{{title}}</a></header>
    <p>{{content}}</p>
    <p>Created by {{user.name}} at {{format_date createdAt}}</p>
    {{!-- console.log({{created_at}}) --}}
    {{!-- <button id='comment' class='btn-block'>Leave a comment</button> --}}
    {{!-- <a href="/comments">Leave a comment</a> --}}
</section>